system/system/app/AmazonWebView/AmazonWebView.apk
system/system/priv-app/com.amazon.alexa.multimodal.gemini/com.amazon.alexa.multimodal.gemini.apk
system/system/priv-app/com.amazon.kindle/com.amazon.kindle.apk
