fe.audio_analysis.dither = 0.0
fe.audio_analysis.frame_length_milli = 25
fe.audio_analysis.frame_shift_milli = 10
fe.audio_analysis.preemphasis_coeff = 0.96875
fe.audio_analysis.remove_dc_offset = 1
fe.audio_analysis.round_to_power_of_two = 1
fe.audio_analysis.samplerate = 16000
fe.audio_analysis.window_type = "povey"
fe.cep.cepstral_lifter = 22
fe.cep.energy_floor = 0
fe.cep.num_cepstrum = 20
fe.cep.raw_energy = 1
fe.cep.use_energy = 0
fe.feat.adapt_norm_stats = 1
fe.feat.affine_transform_filepath = ""
fe.feat.continuous_norm_estimation = 1
fe.feat.current_frame_decay_weight = 0.003
fe.feat.dimensions = 20
fe.feat.do_mean_norm = 1
fe.feat.do_variance_norm = 0
fe.feat.mean_and_var_stats_file_path = ""
fe.feat.min_frames_norm = 100
fe.feat.norm_window_size = 2147483647
fe.feat.stack_left = 20
fe.feat.stack_right = 10
fe.feat.transform_filepath = ""
fe.global_mean_var_norm_filepath = "train_glob.cmvn"
fe.mel_fbank.high_freq = 6000
fe.mel_fbank.low_freq = 100
fe.mel_fbank.num_bins = 20
fe.plp.cepstral_scale = 1
fe.plp.compress_factor = 0.3330078125
fe.plp.lpc_order = 12
fe.type = "LFBE"
fingerprinter.enabled = 1
id2word.mapping_filepath = "words.shrunk.txt"
keyword_spotter.config_filepath = "kw.cfg.json"
keyword_spotter.emit_nearmiss = 1
keyword_spotter.op_config_filepath = "op.cfg.json"
scorer.acoustic_scale = 0.05
scorer.batch_size = 6
scorer.max_approx = 1
scorer.model_filepath = "dnn_quantized.mlp"
scorer.model_filetype = "dnnrt"
scorer.pdfcounts_filepath = "pdf.counts"
scorer.score_upsampling.default_skip_frame_count = 2
scorer.score_upsampling.enable = 1
scorer.score_upsampling.enable#disable-upsampling = 0
scorer.score_upsampling.enable#force-upsampling-default = 1
scorer.score_upsampling.enable#force-upsampling-fallback = 1
scorer.score_upsampling.fallback_backlog_threshold_msec = 300
scorer.score_upsampling.fallback_backlog_threshold_msec#force-upsampling-default = 2147483647
scorer.score_upsampling.fallback_backlog_threshold_msec#force-upsampling-fallback = 0
scorer.score_upsampling.fallback_skip_frame_count = 5
scorer.shortlist_size = 0
search.decoder_type = "kaldi-key-phrase"
search.trans_filepath = "final.mdl"
