#
# Copyright (c) 2017 - 2018 Amazon.com, Inc. or its affiliates.  All rights reserved.
# PROPRIETARY/CONFIDENTIAL.  USE IS SUBJECT TO LICENSE TERMS.
#
service amazonfiled /system/bin/amazonfiled
    class main
